Source: com.github.arshubham.cipher
Section: x11
Priority: extra
Maintainer: Shubham Arora <shubhamarora@protonmail.com>
Build-Depends: meson,
               debhelper (>= 11),
               libgtk-3-dev,
               libjson-glib-dev,
               libgranite-dev,
               valac (>= 0.40)
Standards-Version: 4.1.1

Package: com.github.arshubham.cipher
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An simple app for encoding and decoding text.
