[Desktop Entry]
Name=Cipher
Comment=Cipher App
Icon=com.github.arshubham.cipher
Exec=com.github.arshubham.cipher
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;IDE;Utility;TextEditor;WebDevelopment;
Keywords=app;template;vala;
